*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Alata', sans-serif;
}

body {
	color: white;
	background-color: black;
}


/*************************************/
/***********    HEADER    ************/
/*************************************/

#logo {
	font-weight: normal;
	font-family: 'Monoton', cursive;
	color:#84BC9C;
}

.header-bar {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px;
	background-color: #0A2E36;
	margin-bottom: 50px;
}

.header-bar ul {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 0.5em;
}

.header-bar a {
	color: white;
}

.header-bar li {
	list-style: none;
}

.header-bar img.icon:hover {
	transform: scale(1.1);
	transition-duration: 0.5s;
	fill: #e1b382;
}

.header-bar img.icon {
	transition-duration: 0.5s;
}

/*************************************/
/***********     FORM     ************/
/*************************************/

.login-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 30vw;
	margin: auto;
	background: rgba(119, 119, 119, 0.8);
	padding: 35px;
	box-sizing: content-box;
	border-radius: 65px 25px;
}

.login-form h2 {
	margin-bottom: 40px;
}

.form-error {
	position: absolute;
	right: 20px;
	top: 55%;
	transform: translateY(-50%);
	color: #fa7575;
}
.form-input {
	width: inherit;
	position: relative;
	height: 40px;
	margin-bottom: 20px;
}

.login-form input {
	width: inherit;
	border: none;
	padding: 0px 15px;
	font-size: 1rem;
	border-radius: 50px;
	height: inherit;
}

.login-form button {
	width: 100px;
	padding: 5px;
	border-radius: 50px;
	border: none;
}

.login-form .form-bottom{
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	margin-top: 20px;
}
